<!DOCTYPE HTML>
<html lang="en">
<head>
<title>About</title>
<% include partials/header %>
</head>
<body>
<header>
<% include partials/cmpLogo %>
</header>
<nav>
<% include partials/user-navigation %>
</nav>
<main>
<div>
<ul class="breadcrumb">
<li>Home</li>
<li>About</li>
</ul>
</div>
<br>
<div>
<p>Hi There!</p>
<br>
<p>Welcome to Swap-B's website, you are on the most visited website by students to swap books among fellow students.</p>
<p>Check out vast collections of books avaiable for exchange. Happy Swapping!</p>
</div>
</main>
<aside>
<nav>
<% include partials/site-navigation %>
</nav>
</aside>
<% include partials/footer %>
</body>
</html>
