<!DOCTYPE HTML>
<html lang="en">
<head>
<title>Contact</title>
<% include partials/header %>
</head>
<body>
<header>
<% include partials/cmpLogo %>
</header>
<nav>
<% include partials/user-navigation %>
</nav>
<main>
<div>
<ul class="breadcrumb">
<li>Home</li>
<li>Contact</li>
</ul>
</div>
<br>
<div>
<br>
<p><strong>Phone: </strong>+1-(704) 907 4575</p>
<p><strong>E-mail: </strong>customercare@swapb.com</p>
</div>
</main>
<aside>
<nav>
<% include partials/site-navigation %>
</nav>
</aside>
<% include partials/footer %>
</body>
</html>
