<ul>
<li class="sideLinkActive"><a href="/index" class="sideLink">Home</a></li>
<li class="sideLinkActive"><a href="/categories" class="sideLink">Categories</a></li>
<li class="sideLinkNotActive">Store</li>
<li class="sideLinkActive"><a href="/about" class="sideLink">About</a></li>
<li class="sideLinkActive"><a href="/contact" class="sideLink">Contact Us!</a></li>
</ul>
