<ul >
<% if (sessioninfo==null) { %>
<li class="topLinkActive"><a href="/signin">Sign In</a></li>
<% } %>
<li class="topLinkActive"><a href="/signout">Sign Out</a></li>
<li class="topLinkActive"><a href="/myItems">My Books</a></li>
<li class="topLinkActive"><a href="/mySwaps">My Swaps</a></li>
<li class="topLinkNotActive">My Cart</li>
</ul>
